<div class="container">
  <div class="card-product">
    <%= cl_image_tag @milkshake.photo.key, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= @milkshake.name %></h2>
      <p><%= @milkshake.description %></p>
      <ul>
        <% @milkshake.doses.each do |dose| %>
          <li>
            <%= dose.ingredient.name %> --- <%= dose.name %> 
            <%= link_to "X",
              dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      <ul>
      <%= link_to "Add Ingredient", new_milkshake_dose_path(@milkshake), class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to "Edit", edit_milkshake_path(@milkshake), class: "btn btn-success" %>
      <%= link_to 'Delete', milkshake_path(@milkshake),class: "btn btn-danger", method: :delete,
        data: { confirm: "Are you sure?" } %>
    </div>
  </div> 
</div>