<h1>Milkshakes#show</h1>
<p>Find me in app/views/milkshakes/show.html.erb</p>
<%= @milkshake.name %>

<% @milkshake.doses.each do |dose| %> <br>
  <%= dose.ingredient.name %> --- <%= dose.name %> 
    <%= link_to "X",
      dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
<%= link_to "Add Ingredient", new_milkshake_dose_path(@milkshake) %>
<%= link_to "Edit", edit_milkshake_path(@milkshake) %>
<%= link_to 'Delete', milkshake_path(@milkshake), method: :delete,
  data: { confirm: "Are you sure?" } %>
